// GENERAL STYLE
body {
    font-family: 'Roboto', sans-serif;
}

a {
    cursor: pointer;
}

// Buttons
.btn i {
   margin-right: 10px; 
   color: $principal-col;
}

.btn-primary {
    background-color: $principal-col;
    border: 1px solid $white;
    transition: all 0.1s
}

.btn-primary:hover {
    color: $principal-col;
    background-color: $white;
    border: 1px solid $principal-col;
}

/* TRANSITIONS */  
  .slide-down-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-down-fade-leave-active {
    transition: all .1s ease;
  }
  .slide-down-fade-enter, .slide-down-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(60px);
    opacity: 0;
  }