// GENERAL STYLE
body {
    font-family: 'Roboto', sans-serif;
}

.menu-block {
    display: block;
    height: 100vh;
    width: 100vw;
    background: red;
}

a {
    cursor: pointer;
}

#navbarDropdown {
    color: #00ccbb;
}

.text-principal {
    color: #00ccbb;
}

// Buttons
.btn i {
   margin-right: 10px;
}

.btn-primary {
    background-color: $principal-col;
    border: 1px solid $white;
    transition: all 0.1s;
}

.btn-light {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    padding: 0 20px;
}

.btn-light:hover, .btn-light:focus {
    color: $white;
    background-color: $principal-col;
    border: 1px solid $white;
}

.btn-primary:hover, .btn-primary:focus {
    color: $principal-col;
    background-color: $white;
    border: 1px solid $principal-col;
}

.btn-warning {
    color: $white;
    background-color: #440061;
    border: 1px solid $white;
    transition: all 0.1s;
}

.btn-warning:hover {
    color: #440061;
    background-color: $white;
    border: 1px solid #440061;
}

.btn-danger {
    background-color: #ff8001;
    border: 1px solid $white;
    transition: all 0.1s;
}

.btn-danger:hover {
    color: #ff8001;
    background-color: $white;
    border: 1px solid #ff8001;
}

/* TRANSITIONS */
  .slide-down-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-down-fade-leave-active {
    transition: all .1s ease;
  }
  .slide-down-fade-enter, .slide-down-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(60px);
    opacity: 0;
  }
