nav {
    position: fixed;
    top: -40px;
    background: $white;
    .container {
        .navbar-brand {
            height: 40px;
            img {
                max-height: 100%;
            }
        }
        .navbar-nav a{
            color: $white;
            background: $principal-col;
            border: 1px solid $white;
            border-radius: 5px; 
            transition: all 0.2s;  
            &:hover {
                color: $principal-col;
                background: $white;
                border: 1px solid $principal-col;
            }
        }
    }
}

@media(max-width: 900px) {
    a.navbar-brand.mobile {
        display: block;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        a.desk, div.desk {
            display: none;
        }
    }
}
