.image-bg {
    background: url('../img/asset/deliveroo.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.hero {
    display: flex;
    justify-content: flex-start;
    .content {
        background: $white;
        padding: 25px 22px;
        border: 1px solid lightgray;
        border-radius: 8px;
        margin-top: 40px;
        transform: translateX(-20px);
        input {
            color: $system3-col;
            min-width: 80%;
            height: 35px;
            border: 0;
            outline: none;
            border-radius: 5px;
            padding-left: 15px;
            &:focus, &:hover {
                background: $white;
                border: 2px solid $principal-col;
            }
        }

    }
}

